Repository Finastra/finastra-design-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rbordeanu, @bcldvd, @ttalbot, @dorsaffrigui

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*   @rbordeanu @bcldvd @ttalbot

# Repository management
/scripts/   @bcldvd @ttalbot
/tools/generators/web-component        @bcldvd @dorsaffrigui

# Themes and style files
/themes/    @dorsaffrigui @ttalbot
*.scss      @dorsaffrigui @ttalbot
*.css       @dorsaffrigui @ttalbot
*.png       @dorsaffrigui @ttalbot
*.jpeg      @dorsaffrigui @ttalbot
*.jpg       @dorsaffrigui @ttalbot
*.svg       @dorsaffrigui @ttalbot

# Web components owners
/packages/fds-components-web    @bcldvd @ttalbot
/.storybook             @bcldvd @ttalbot

update lerna config
  lerna.json
Owners: @rbordeanu, @bcldvd, @ttalbot

remove private from root package
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

updating local deps
  package-lock.json
  packages/fds-components-web/account-card/package.json
  packages/fds-components-web/alert-message/package.json
  packages/fds-components-web/app-bar/package.json
  packages/fds-components-web/app-card/package.json
  packages/fds-components-web/autocomplete/package.json
  packages/fds-components-web/brand-card/package.json
  packages/fds-components-web/button-toggle-group/package.json
  packages/fds-components-web/button/package.json
  packages/fds-components-web/chip/package.json
  packages/fds-components-web/data-table/package.json
  packages/fds-components-web/filter-tree/package.json
  packages/fds-components-web/global-search/package.json
  packages/fds-components-web/guided-tour/package.json
  packages/fds-components-web/icon-bar/package.json
  packages/fds-components-web/launchpad/package.json
  packages/fds-components-web/menu-trigger/package.json
  packages/fds-components-web/search-input/package.json
  packages/fds-components-web/sidenav/package.json
  packages/fds-components-web/stepper/package.json
  packages/fds-components-web/user-profile/package.json
  packages/fds-components-web/wizard/package.json
  packages/fds-theme-tippy/package.json
  packages/fds-theme-web/package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

add missing token
  libs/web-components/chip/src/styles.scss
  tokens/color/dark.json
  tokens/color/light.json
Owners: @dorsaffrigui, @ttalbot, @rbordeanu, @bcldvd

update documentation
  themes/fds-theme/color/color.stories.mdx
Owners: @dorsaffrigui, @ttalbot

update release mechanism
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/update-release-draft.yml
  .npmrc
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

fix(watcher): run wca (#1065)
  libs/web-components/account-card/src/styles.scss
  scripts/watcher.js
  tsconfig.base.json
Owners: @dorsaffrigui, @ttalbot, @bcldvd, @rbordeanu

Deploying to storybook from @ Finastra/finastra-design-system@ba8d0c38379dbb22b7668f8bb89791e8eb1fde90 🚀
  iframe.html
  main.47fe6b3d.iframe.bundle.js
  main.63846569.iframe.bundle.js
  main.63846569.iframe.bundle.js.LICENSE.txt
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

chromatic test
  libs/web-components/chip/stories/chip.stories.ts
Owners: @rbordeanu, @bcldvd, @ttalbot

test - even more refined details for story
  libs/web-components/chip/stories/chip.stories.ts
  themes/fds-theme/color/color.stories.mdx
Owners: @rbordeanu, @bcldvd, @ttalbot, @dorsaffrigui

change release mechanism
  .changeset/README.md
  .changeset/config.json
  .github/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/update-draft-release.yml
  .github/workflows/update-release-draft.yml
  .release_wc.txt
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

add missing token (#1078)
  libs/web-components/chip/src/styles.scss
  libs/web-components/chip/stories/chip.stories.ts
  themes/fds-theme/color/color.stories.mdx
  tokens/color/dark.json
  tokens/color/light.json
Owners: @dorsaffrigui, @ttalbot, @rbordeanu, @bcldvd

Deploying to storybook from @ Finastra/finastra-design-system@c69550446736f070ebc22d433c365e0fa7343865 🚀
  iframe.html
  index.html
  main.4affb544ee0e01235954.manager.bundle.js
  main.63846569.iframe.bundle.js
  main.7f7295d7.iframe.bundle.js
  main.7f7295d7.iframe.bundle.js.LICENSE.txt
  main.82682b6d3338f64be25b.manager.bundle.js
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Update documentation
  .nvmrc
  CONTRIBUTING.md
  README.md
Owners: @rbordeanu, @bcldvd, @ttalbot
