Repository Finastra/finastra-design-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rbordeanu, @bcldvd, @ttalbot, @dorsaffrigui

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*   @rbordeanu @bcldvd @ttalbot

# Repository management
/scripts/   @bcldvd @ttalbot
/tools/generators/web-component        @bcldvd @dorsaffrigui

# Themes and style files
/themes/    @dorsaffrigui @ttalbot
*.scss      @dorsaffrigui @ttalbot
*.css       @dorsaffrigui @ttalbot
*.png       @dorsaffrigui @ttalbot
*.jpeg      @dorsaffrigui @ttalbot
*.jpg       @dorsaffrigui @ttalbot
*.svg       @dorsaffrigui @ttalbot

# Web components owners
/libs/web-components    @bcldvd @ttalbot
/.storybook             @bcldvd @ttalbot

fix grid display
  .prettierrc
  libs/web-components/charts/stories/bar-charts.stories.ts
Owners: @rbordeanu, @bcldvd, @ttalbot

stroke fix
  libs/web-components/charts/stories/bar-charts.stories.ts
Owners: @bcldvd, @ttalbot

trigger build
  libs/web-components/charts/src/bar-chart.ts
Owners: @bcldvd, @ttalbot

fix indentation and remove commented lines
  libs/web-components/charts/demo/index.html
Owners: @bcldvd, @ttalbot

format style
  libs/web-components/charts/src/bar-chart-styles.scss
Owners: @bcldvd, @ttalbot

remove unused sass:map import
  libs/web-components/charts/src/bar-chart-styles.scss
Owners: @bcldvd, @ttalbot

cancel in progress pr build
  .github/workflows/pr-build-wc.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

cancel running codeql
  .github/workflows/codeql-analysis.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

adding changeset
  .changeset/rare-crabs-love.md
Owners: @rbordeanu, @bcldvd, @ttalbot

adding changeset
  .changeset/silver-boats-impress.md
Owners: @rbordeanu, @bcldvd, @ttalbot

cancel in progress pr build (#1068)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-build-wc.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

clean GH workflows
  .github/workflows/codecov.yml
  .github/workflows/create-release-wc-pr.yml
  .github/workflows/pr-build.yml
  .github/workflows/release-wc.yml
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Update CHANGELOG.md
  themes/fds-theme/CHANGELOG.md
Owners: @dorsaffrigui, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@697c1ad606856c8eb234473e28e6ee1e22edc2fa 🚀
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

feat: bar chart (#1054)
  .changeset/rare-crabs-love.md
  .prettierrc
  libs/web-components/charts/demo/index.html
  libs/web-components/charts/package.json
  libs/web-components/charts/src/apexcharts.ts
  libs/web-components/charts/src/bar-chart-styles.scss
  libs/web-components/charts/src/bar-chart.ts
  libs/web-components/charts/src/index.ts
  libs/web-components/charts/stories/bar-charts.stories.ts
  scripts/watcher.js
  tsconfig.base.json
Owners: @rbordeanu, @bcldvd, @ttalbot

feat(button): support new colors (#1061)
  .changeset/silver-boats-impress.md
  libs/web-components/button/demo/index.html
  libs/web-components/button/src/base-button.ts
  libs/web-components/button/src/base-styles.scss
  libs/web-components/button/src/contained-styles.scss
  libs/web-components/button/src/outlined-styles.scss
  libs/web-components/button/src/text-styles.scss
  libs/web-components/button/stories/contained-button.stories.ts
  libs/web-components/button/stories/outlined-button.stories.ts
  libs/web-components/button/stories/text-button.stories.ts
  tokens/color/dark.json
  tokens/color/light.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@cc815fc06dea7d998750bec2fb8c4bf500bf8000 🚀
  iframe.html
  main.d24efe46.iframe.bundle.js
  main.f31f324f.iframe.bundle.js
  main.f31f324f.iframe.bundle.js.LICENSE.txt
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@81ba47ccc50050d80fec70222dfcb13578d59e85 🚀
  iframe.html
  index.html
  main.6502677020621c0d2c68.manager.bundle.js
  main.82682b6d3338f64be25b.manager.bundle.js
  main.88506e22.iframe.bundle.js
  main.88506e22.iframe.bundle.js.LICENSE.txt
  main.f31f324f.iframe.bundle.js
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

change release mechanism
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

cancel concurrent actions in same workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-build.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

add gh release config
  .github/release-drafter.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

specify workflow for storybook action concurrency
  .github/workflows/storybook.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

generate only one GH release (#1071)
  .github/release-drafter.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release-wc-pr.yml
  .github/workflows/pr-build-wc.yml
  .github/workflows/pr-build.yml
  .github/workflows/release-wc.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Change condition to trigger GitHub release
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@4f3c5ddb4c0f0fc77dc4b6de38c26ce31eec5047 🚀
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Change condition to trigger GitHub release
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

Change condition to trigger GitHub release (#1073)
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

GitHub release condition as a string
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

GitHub release condition as a string (#1074)
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@d29f01ecc356709c243038fe2afd75194ccaf1c5 🚀
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

add fixedMenuPosition capability
  libs/web-components/select/src/select.ts
  libs/web-components/select/stories/select.stories.ts
Owners: @bcldvd, @ttalbot

Include root project in workspaces
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

update package lock
  package-lock.json
Owners: @rbordeanu, @bcldvd, @ttalbot

get current version for github release
  .github/workflows/release.yml
Owners: @rbordeanu, @bcldvd, @ttalbot

Include root project into workspaces (#1076)
  .github/workflows/release.yml
  package-lock.json
  package.json
Owners: @rbordeanu, @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@0a3b71552ee83bc06519c7ba02715a48e5bb424f 🚀
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot

use pipe
  scripts/watcher.js
Owners: @bcldvd, @ttalbot

nice title :)
  libs/web-components/select/stories/select.stories.ts
Owners: @bcldvd, @ttalbot

add fixedMenuPosition capability for select (#1075)
  libs/web-components/select/src/select.ts
  libs/web-components/select/stories/select.stories.ts
Owners: @bcldvd, @ttalbot

Deploying to storybook from @ Finastra/finastra-design-system@b01b9fa2981000751e4fd64a29b7d825d36ba662 🚀
  iframe.html
  main.47fe6b3d.iframe.bundle.js
  main.47fe6b3d.iframe.bundle.js.LICENSE.txt
  main.88506e22.iframe.bundle.js
  project.json
Owners: @rbordeanu, @bcldvd, @ttalbot
