Repository Finastra/finastra-design-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aifrim, @bcldvd, @ttalbot, @studios-team, @Ping-YUAN, @rbordeanu

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*   @aifrim @bcldvd @ttalbot

# Repository management
/scripts/   @aifrim
/tools/     @aifrim

# Themes and style files
/themes/    @studios-team
*.scss      @studios-team
*.css       @studios-team
*.png       @studios-team
*.jpeg      @studios-team
*.jpg       @studios-team
*.svg       @studios-team

# Per components owners
/libs/angular-components/global-search/     @aifrim
/libs/angular-components/scroll-to-top/     @aifrim
/libs/angular-components/table/             @Ping-YUAN
/libs/angular-components/popover/           @rbordeanu

chore(release): prepare for 0.13.3 release
  libs/angular-components/global-search/package.json
  libs/angular-components/package.json
  libs/angular-components/popover/package.json
  libs/angular-components/scroll-to-top/package.json
  libs/angular-components/table/package.json
  package.json
  themes/angular-theme/package.json
  tools/devkit/package.json
Owners: @aifrim, @bcldvd, @ttalbot, @rbordeanu, @Ping-YUAN, @studios-team

feature(filter-panel) rework data model
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.css
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  apps/angular-test-app/src/app/components/home/home.component.html
  apps/angular-test-app/src/app/material.module.ts
  libs/angular-components/filter-panel/src/filter-panel.component.html
  libs/angular-components/filter-panel/src/filter-panel.component.scss
  libs/angular-components/filter-panel/src/filter-panel.component.ts
Owners: @aifrim, @bcldvd, @ttalbot, @studios-team

unit tests
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.html
  libs/angular-components/repeater/src/component-repeater/component-repeater.component.spec.ts
  libs/angular-components/repeater/src/repeater.component.spec.ts
  libs/angular-components/repeater/src/repeater.component.ts
  package-lock.json
  package.json
Owners: @aifrim, @bcldvd, @ttalbot

feature(filter-panel) improve demo to fit with design
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  apps/angular-test-app/src/app/material.module.ts
  apps/angular-test-app/src/index.html
  libs/angular-components/filter-panel/src/filter-panel.component.html
  libs/angular-components/filter-panel/src/filter-panel.component.scss
  libs/angular-components/filter-panel/src/filter-panel.component.ts
Owners: @aifrim, @bcldvd, @ttalbot, @studios-team

demo update
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.html
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.ts
Owners: @aifrim, @bcldvd, @ttalbot

clean up
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.ts
Owners: @aifrim, @bcldvd, @ttalbot

adding chart example
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/repeater-demo/repeater-card-chart-example/repeater-card-chart-example.component.html
  apps/angular-test-app/src/app/components/repeater-demo/repeater-card-chart-example/repeater-card-chart-example.component.scss
  apps/angular-test-app/src/app/components/repeater-demo/repeater-card-chart-example/repeater-card-chart-example.component.spec.ts
  apps/angular-test-app/src/app/components/repeater-demo/repeater-card-chart-example/repeater-card-chart-example.component.ts
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.html
  apps/angular-test-app/src/app/components/repeater-demo/repeater-demo.component.ts
  package-lock.json
  package.json
Owners: @aifrim, @bcldvd, @ttalbot, @studios-team

feature(filter-panel): rename filter-tree & improve DS compliance
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  libs/angular-components/components.module.ts
  libs/angular-components/filter-panel/src/filter-panel.component.html
  libs/angular-components/filter-panel/src/filter-panel.component.scss
  libs/angular-components/filter-panel/src/filter-panel.component.ts
  libs/angular-components/filter-panel/src/filter-panel.module.ts
  libs/angular-components/filter-panel/src/index.ts
  libs/angular-components/filter-tree/ng-package.json
  libs/angular-components/filter-tree/package.json
  libs/angular-components/filter-tree/src/filter-tree.component.html
  libs/angular-components/filter-tree/src/filter-tree.component.scss
  libs/angular-components/filter-tree/src/filter-tree.component.spec.ts
  libs/angular-components/filter-tree/src/filter-tree.component.ts
  libs/angular-components/filter-tree/src/filter-tree.module.spec.ts
  libs/angular-components/filter-tree/src/filter-tree.module.ts
  libs/angular-components/filter-tree/src/index.ts
Owners: @aifrim, @bcldvd, @ttalbot, @studios-team

feature(filter-panel) improve demo app
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  libs/angular-components/filter-tree/src/filter-tree.component.ts
Owners: @aifrim, @bcldvd, @ttalbot
