Repository Finastra/finastra-design-system, pull requests merged in 2019-10, with the labels that each got.

#32 fix(global search): improve theme and fix doc indexing
  .github/CODEOWNERS
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.html
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.spec.ts
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.ts
  apps/angular-test-app/src/app/material.module.ts
  apps/angular-test-app/src/styles.scss
  libs/angular-components/components.module.ts
  libs/angular-components/global-search/src/_global-search-theme.component.scss
  libs/angular-components/global-search/src/_global-search.theme.scss
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.html
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.scss
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.ts
  libs/angular-components/global-search/src/global-search-base.component.scss
  libs/angular-components/global-search/src/global-search.component.html
  libs/angular-components/global-search/src/global-search.component.scss
  libs/angular-components/global-search/src/global-search.component.ts
  libs/angular-components/global-search/src/global-search.module.ts
  libs/angular-components/package.json
  package-lock.json
  package.json
Labels: component, demo, enhancement

#33 fix(scroll-to-top): add parent selector option
  .github/CODEOWNERS
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/app.component.spec.ts
  apps/angular-test-app/src/app/app.module.ts
  libs/angular-components/components.module.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.html
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.scss
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.spec.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.module.ts
  libs/angular-components/tsconfig.lib.json
  tools/tsconfig.tools.json
  tsconfig.json
Labels: component, enhancement

#39 feat(bundle): properly bundle all css
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/styles.scss
  libs/angular-components/global-search/src/global-search.component.scss
  libs/angular-components/popover/src/popover.component.scss
  libs/angular-components/popover/src/popover.component.ts
  libs/angular-components/table/src/table.component.scss
  tools/schematics/angular-component/files/src/__filename__.component.scss.template
  tools/schematics/angular-component/files/src/__scssFilename__.theme.scss.template
  tools/schematics/angular-component/index.ts
Labels: enhancement, project-config, theme

#29 feat(filter-tree): added component
  .github/CODEOWNERS
  angular.json
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  apps/angular-test-app/src/app/components/home/home.component.html
  apps/angular-test-app/src/app/components/home/home.component.scss
  apps/angular-test-app/src/app/material.module.ts
  apps/angular-test-app/src/app/routes.ts
  apps/angular-test-app/src/index.html
  libs/angular-components/core/index.ts
  libs/angular-components/core/jest.config.js
  libs/angular-components/core/ng-package.json
  libs/angular-components/core/package.json
  libs/angular-components/core/src/filter.models.spec.ts
  libs/angular-components/core/src/filter.models.ts
  libs/angular-components/core/test-setup.ts
  libs/angular-components/core/tsconfig.json
  libs/angular-components/core/tsconfig.lib.json
  libs/angular-components/core/tsconfig.spec.json
  libs/angular-components/core/tslint.json
  libs/angular-components/filter/filter-tree/index.ts
  libs/angular-components/filter/filter-tree/jest.config.js
  libs/angular-components/filter/filter-tree/ng-package.json
  libs/angular-components/filter/filter-tree/package.json
  libs/angular-components/filter/filter-tree/src/filter-tree.component.html
  libs/angular-components/filter/filter-tree/src/filter-tree.component.scss
  libs/angular-components/filter/filter-tree/src/filter-tree.component.spec.ts
  libs/angular-components/filter/filter-tree/src/filter-tree.component.ts
  libs/angular-components/filter/filter-tree/src/filter-tree.module.spec.ts
  libs/angular-components/filter/filter-tree/src/filter-tree.module.ts
  libs/angular-components/filter/filter-tree/test-setup.ts
  libs/angular-components/filter/filter-tree/tsconfig.json
  libs/angular-components/filter/filter-tree/tsconfig.lib.json
  libs/angular-components/filter/filter-tree/tsconfig.spec.json
  libs/angular-components/filter/filter-tree/tslint.json
  nx.json
  tsconfig.json
Labels: component, demo, documentation, e2e-tests-required, enhancement

#40 feat(filter-tags) Added component
  .github/CODEOWNERS
  angular.json
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  libs/angular-components/filter/filter-tags/index.ts
  libs/angular-components/filter/filter-tags/jest.config.js
  libs/angular-components/filter/filter-tags/ng-package.json
  libs/angular-components/filter/filter-tags/package.json
  libs/angular-components/filter/filter-tags/src/_filter-tags.theme.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.html
  libs/angular-components/filter/filter-tags/src/filter-tags.component.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.spec.ts
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
  libs/angular-components/filter/filter-tags/src/filter-tags.module.spec.ts
  libs/angular-components/filter/filter-tags/src/filter-tags.module.ts
  libs/angular-components/filter/filter-tags/test-setup.ts
  libs/angular-components/filter/filter-tags/tsconfig.json
  libs/angular-components/filter/filter-tags/tsconfig.lib.json
  libs/angular-components/filter/filter-tags/tsconfig.spec.json
  libs/angular-components/filter/filter-tags/tslint.json
  libs/angular-components/index.ts
  nx.json
  tsconfig.json
Labels: component, demo, e2e-tests-required, enhancement, unit-tests-required

#46 fix(chips-style): remove icon did not have hover style in selected state
  themes/angular-theme/lib/chips/_chips-theme.scss
Labels: bug, theme

#50 feat(typography): add new scale
  themes/angular-theme/lib/core/typography/_typography.scss
Labels: bug, theme

#49 feat(badge-styles): add large side badges
  themes/angular-theme/lib/badge/_badge-base.scss
  themes/angular-theme/lib/badge/_badge-theme.scss
Labels: enhancement, theme
