Repository Finastra/finastra-design-system, pull requests merged in 2019-09, with the labels that each got.

#9 feat(table): added table components
  .github/CODEOWNERS
  angular.json
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/home/home.component.html
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.html
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.scss
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.spec.ts
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.ts
  apps/angular-test-app/src/app/routes.ts
  apps/angular-test-app/src/assets/fonts.css
  apps/angular-test-app/src/index.html
  libs/angular-components/src/components.module.ts
  libs/angular-components/src/table/ng-package.json
  libs/angular-components/src/table/package.json
  libs/angular-components/src/table/src/index.ts
  libs/angular-components/src/table/src/table.component.html
  libs/angular-components/src/table/src/table.component.scss
  libs/angular-components/src/table/src/table.component.spec.ts
  libs/angular-components/src/table/src/table.component.ts
  libs/angular-components/src/table/src/table.module.spec.ts
  libs/angular-components/src/table/src/table.module.ts
  libs/angular-components/src/table/src/utils.ts
  themes/angular-theme/_uxg-app-theme.scss
  themes/angular-theme/lib/core/theming/_all-theme.scss
  themes/angular-theme/lib/core/typography/_all-typography.scss
  themes/angular-theme/lib/paginator/_paginator-base.scss
  themes/angular-theme/lib/table/_table-base.scss
  themes/angular-theme/lib/table/_table-theme.scss
  tsconfig.json
Labels: component, demo, e2e-tests-required, enhancement

#18 bugfix(project): fix project scaffolding for publishing
  .github/CODEOWNERS
  angular.json
  apps/angular-test-app/src/styles.scss
  libs/angular-components/components.module.spec.ts
  libs/angular-components/components.module.ts
  libs/angular-components/global-search/README.md
  libs/angular-components/global-search/ng-package.json
  libs/angular-components/global-search/package.json
  libs/angular-components/global-search/src/_global-search-theme.component.scss
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay-config.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay-ref.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay-token.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.html
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.scss
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.spec.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.ts
  libs/angular-components/global-search/src/global-search-base.component.scss
  libs/angular-components/global-search/src/global-search.component.html
  libs/angular-components/global-search/src/global-search.component.spec.ts
  libs/angular-components/global-search/src/global-search.component.ts
  libs/angular-components/global-search/src/global-search.module.spec.ts
  libs/angular-components/global-search/src/global-search.module.ts
  libs/angular-components/global-search/src/index.ts
  libs/angular-components/global-search/src/services/global-search-overlay.service.spec.ts
  libs/angular-components/global-search/src/services/global-search-overlay.service.ts
  libs/angular-components/global-search/src/services/global-search.service.spec.ts
  libs/angular-components/global-search/src/services/global-search.service.ts
  libs/angular-components/index.ts
  libs/angular-components/ng-package.json
  libs/angular-components/package-lock.json
  libs/angular-components/scroll-to-top/ng-package.json
  libs/angular-components/scroll-to-top/package.json
  libs/angular-components/scroll-to-top/src/index.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.html
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.scss
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.spec.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.component.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.module.spec.ts
  libs/angular-components/scroll-to-top/src/scroll-to-top.module.ts
  libs/angular-components/table/ng-package.json
  libs/angular-components/table/package.json
  libs/angular-components/table/src/index.ts
  libs/angular-components/table/src/table.component.html
  libs/angular-components/table/src/table.component.scss
  libs/angular-components/table/src/table.component.spec.ts
  libs/angular-components/table/src/table.component.ts
  libs/angular-components/table/src/table.module.spec.ts
  libs/angular-components/table/src/table.module.ts
  libs/angular-components/table/src/utils.ts
  libs/angular-components/test-setup.ts
  libs/angular-components/tsconfig.lib.json
  libs/angular-components/tsconfig.spec.json
  package-lock.json
  tools/schematics/angular-component/index.ts
  tsconfig.json
Labels: bug, project-config

#17 feature(update-workspace): updated workspace to latest versions
  package-lock.json
  package.json
Labels: enhancement, project-config

#22 feat(table): added total row/column drag drop/select event feature add demo app configurations
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.html
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.scss
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.spec.ts
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.ts
  libs/angular-components/components.module.ts
  libs/angular-components/table/src/index.ts
  libs/angular-components/table/src/table.component.html
  libs/angular-components/table/src/table.component.scss
  libs/angular-components/table/src/table.component.spec.ts
  libs/angular-components/table/src/table.component.ts
  libs/angular-components/table/src/table.module.spec.ts
  libs/angular-components/table/src/table.module.ts
  libs/angular-components/table/src/utils.ts
  themes/angular-theme/ffdc-uxg-angular-theme-0.13.1.tgz
  themes/angular-theme/lib/core/theming/_all-theme.scss
  themes/angular-theme/lib/radio-button/_radio-button-theme.scss
  themes/angular-theme/lib/slide-toggle/_slide-toggle.scss
  themes/angular-theme/lib/table/_table-base.scss
  themes/angular-theme/lib/table/_table-theme.scss
Labels: component, demo, enhancement, theme

#23 feat(popover): add component + cleanup
  .github/CODEOWNERS
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/app.component.html
  apps/angular-test-app/src/app/app.component.scss
  apps/angular-test-app/src/app/app.component.ts
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/home/home.component.html
  apps/angular-test-app/src/app/components/home/home.component.scss
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.html
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.scss
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.spec.ts
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.ts
  apps/angular-test-app/src/app/material.module.ts
  apps/angular-test-app/src/app/routes.ts
  apps/angular-test-app/src/styles.scss
  libs/angular-components/components.module.ts
  libs/angular-components/popover/ng-package.json
  libs/angular-components/popover/package.json
  libs/angular-components/popover/src/_popover.theme.scss
  libs/angular-components/popover/src/index.ts
  libs/angular-components/popover/src/popover.component.html
  libs/angular-components/popover/src/popover.component.spec.ts
  libs/angular-components/popover/src/popover.component.ts
  libs/angular-components/popover/src/popover.module.spec.ts
  libs/angular-components/popover/src/popover.module.ts
  themes/angular-theme/ffdc-uxg-angular-theme-0.13.1.tgz
  tsconfig.json
Labels: component, demo, enhancement
