Repository Finastra/finastra-design-system, pull requests merged in 2020-03, with the labels that each got.

#146 feat(powerBI): adding power BI json theme file and readme
  README.md
  themes/angular-theme/package-lock.json
  themes/power-bi-theme/README.md
  themes/power-bi-theme/power-bi-theme.json
Labels: documentation, enhancement, theme

#151 Fix revision issue and selection display
  apps/angular-test-app/src/app/components/chart-demo/chart-demo.component.c.ts
  apps/angular-test-app/src/app/components/chart-demo/chart-demo.component.html
  apps/angular-test-app/src/app/components/chart-demo/chart-demo.component.scss
  apps/angular-test-app/src/app/components/chart-demo/chart-demo.component.ts
  libs/angular-components/chart/src/chart.component.html
  libs/angular-components/chart/src/chart.component.scss
  libs/angular-components/chart/src/chart.component.spec.ts
  libs/angular-components/chart/src/chart.component.ts
  libs/angular-components/chart/src/directives/trace.component.ts
  libs/angular-components/package.json
  libs/angular-components/vector-map/src/vector-map.component.html
  libs/angular-components/vector-map/src/vector-map.component.spec.ts
  libs/angular-components/vector-map/src/vector-map.component.ts
  package-lock.json
  package.json
Labels: 3rd-party, bug, component

#153 Fix: vector-map tooltip #152
  apps/angular-test-app/src/app/components/vector-map-demo/vector-map-demo.component.html
  apps/angular-test-app/src/app/components/vector-map-demo/vector-map-demo.component.scss
  libs/angular-components/vector-map/src/vector-map.component.ts
  themes/angular-theme/lib/core/theming/_palette.scss
Labels: bug, component, theme

#155 update: upgrade angular 9.0.5
  angular.json
  package-lock.json
  package.json
Labels: 3rd-party, enhancement

#157 bugfix(wizard): fix wizard footer
  libs/angular-components/wizard/src/wizard-button/wizard-button.component.ts
  libs/angular-components/wizard/src/wizard.component.html
  libs/angular-components/wizard/src/wizard.component.scss
Labels: bug, component

#111 feat(filter-group) added filter-group and filter-toggle components
  .github/CODEOWNERS
  angular.json
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  apps/angular-test-app/src/app/material.module.ts
  apps/angular-test-app/src/styles.scss
  libs/angular-components/filter/filter-group/index.ts
  libs/angular-components/filter/filter-group/jest.config.js
  libs/angular-components/filter/filter-group/ng-package.json
  libs/angular-components/filter/filter-group/package.json
  libs/angular-components/filter/filter-group/src/_filter-group.theme.scss
  libs/angular-components/filter/filter-group/src/filter-group-dialog/filter-group-dialog.component.html
  libs/angular-components/filter/filter-group/src/filter-group-dialog/filter-group-dialog.component.scss
  libs/angular-components/filter/filter-group/src/filter-group-dialog/filter-group-dialog.component.ts
  libs/angular-components/filter/filter-group/src/filter-group.component.html
  libs/angular-components/filter/filter-group/src/filter-group.component.scss
  libs/angular-components/filter/filter-group/src/filter-group.component.spec.ts
  libs/angular-components/filter/filter-group/src/filter-group.component.ts
  libs/angular-components/filter/filter-group/src/filter-group.module.spec.ts
  libs/angular-components/filter/filter-group/src/filter-group.module.ts
  libs/angular-components/filter/filter-group/src/filter.directive.ts
  libs/angular-components/filter/filter-group/src/filter.models.ts
  libs/angular-components/filter/filter-group/test-setup.ts
  libs/angular-components/filter/filter-group/tsconfig.json
  libs/angular-components/filter/filter-group/tsconfig.lib.json
  libs/angular-components/filter/filter-group/tsconfig.spec.json
  libs/angular-components/filter/filter-group/tslint.json
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
  libs/angular-components/filter/filter-toggle/index.ts
  libs/angular-components/filter/filter-toggle/jest.config.js
  libs/angular-components/filter/filter-toggle/ng-package.json
  libs/angular-components/filter/filter-toggle/package.json
  libs/angular-components/filter/filter-toggle/src/filter-toggle.component.html
  libs/angular-components/filter/filter-toggle/src/filter-toggle.component.spec.ts
  libs/angular-components/filter/filter-toggle/src/filter-toggle.component.ts
  libs/angular-components/filter/filter-toggle/src/filter-toggle.module.spec.ts
  libs/angular-components/filter/filter-toggle/src/filter-toggle.module.ts
  libs/angular-components/filter/filter-toggle/test-setup.ts
  libs/angular-components/filter/filter-toggle/tsconfig.json
  libs/angular-components/filter/filter-toggle/tsconfig.lib.json
  libs/angular-components/filter/filter-toggle/tsconfig.spec.json
  libs/angular-components/filter/filter-toggle/tslint.json
  libs/angular-components/filter/filter-tree/src/filter-tree.component.ts
  nx.json
  tsconfig.json
Labels: component, demo, e2e-tests-required, enhancement, unit-tests-required

#158 bugfix(popover): fix for ng9 + simplify
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.scss
  libs/angular-components/popover/src/popover.component.html
  libs/angular-components/popover/src/popover.component.scss
  libs/angular-components/popover/src/popover.component.ts
Labels: bug, component, demo

#156 bugfix(table): custom pagination was lost when paginating
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.html
  apps/angular-test-app/src/app/components/table-demo/table-demo.component.ts
  libs/angular-components/table/src/table.component.ts
Labels: bug, component

#160 bugfix(popover): fix popover again
  apps/angular-test-app/src/app/components/popover-demo/popover-demo.component.scss
  libs/angular-components/popover/src/popover.component.html
  libs/angular-components/popover/src/popover.component.scss
  libs/angular-components/popover/src/popover.component.ts
  package-lock.json
  package.json
Labels: bug, component, demo

#163 bugfix(filter-tree): fix collapse/expand animation
  libs/angular-components/filter/filter-tree/src/_filter-tree.theme.scss
  libs/angular-components/filter/filter-tree/src/filter-tree.component.html
  libs/angular-components/filter/filter-tree/src/filter-tree.component.scss
  libs/angular-components/filter/filter-tree/src/filter-tree.component.ts
Labels: bug, component

#154 bugfix(form field icon): icon centralized in input field
  apps/angular-test-app/src/app/components/ui-elements-demo/ui-elements-demo.component.html
  apps/angular-test-app/src/app/components/ui-elements-demo/ui-elements-demo.component.ts
  themes/angular-theme/lib/button/_button-base.scss
  themes/angular-theme/lib/core/_core.scss
  themes/angular-theme/lib/core/theming/_all-theme.scss
  themes/angular-theme/lib/core/typography/_all-typography.scss
  themes/angular-theme/lib/form-field/_form-field-base.scss
  themes/angular-theme/lib/form-field/_form-field-theme.scss
  themes/angular-theme/lib/icon/_icon-base.scss
  themes/angular-theme/lib/input/_input-base.scss
  themes/angular-theme/lib/input/_input-theme.scss
Labels: enhancement, theme

#162 Chart: Add README for chart
  libs/angular-components/chart/README.md
Labels: component, documentation, enhancement

#164 bugfix(filters): improve themes + fix selection logic
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.scss
  apps/angular-test-app/src/app/components/ui-elements-demo/ui-elements-demo.component.html
  libs/angular-components/filter/filter-group/src/_filter-group.theme.scss
  libs/angular-components/filter/filter-group/src/filter-group.component.html
  libs/angular-components/filter/filter-group/src/filter-group.component.scss
  libs/angular-components/filter/filter-group/src/filter-group.component.ts
  libs/angular-components/filter/filter-tags/src/_filter-tags.theme.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.html
  libs/angular-components/filter/filter-tags/src/filter-tags.component.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
  libs/angular-components/filter/filter-toggle/src/filter-toggle.component.scss
  libs/angular-components/filter/filter-toggle/src/filter-toggle.component.ts
  themes/angular-theme/lib/expansion/_expansion-base.scss
  themes/angular-theme/lib/expansion/_expansion-theme.scss
Labels: bug, demo, theme

#169 feat(logo): new logo from branding
  themes/angular-theme/lib/core/theming/_palette.scss
Labels: theme

#143 refactor(search): move elastic-search outside of global-search comp
  apps/angular-test-app/src/app/components/global-search-demo/client-side-search.service.ts
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.html
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.spec.ts
  apps/angular-test-app/src/app/components/global-search-demo/global-search-demo.component.ts
  libs/angular-components/global-search/index.ts
  libs/angular-components/global-search/src/_global-search.theme.scss
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay-config.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.html
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.ts
  libs/angular-components/global-search/src/global-search.component.scss
  libs/angular-components/global-search/src/global-search.component.ts
  libs/angular-components/global-search/src/global-search.model.ts
  libs/angular-components/global-search/src/services/global-search-overlay.service.ts
  libs/angular-components/global-search/src/services/global-search.service.spec.ts
  libs/angular-components/package.json
Labels: 3rd-party, breaking-change, component, demo, enhancement, work-in-progress

#168 feat(avatar): new avatar component
  angular.json
  apps/angular-test-app/src/app/app-routing.module.ts
  apps/angular-test-app/src/app/components/avatar-demo/avatar-demo.component.html
  apps/angular-test-app/src/app/components/avatar-demo/avatar-demo.component.scss
  apps/angular-test-app/src/app/components/avatar-demo/avatar-demo.component.ts
  apps/angular-test-app/src/app/components/wizard-demo/wizard-demo.component.ts
  apps/angular-test-app/src/app/nested-routes.ts
  libs/angular-components/avatar/index.ts
  libs/angular-components/avatar/jest.config.js
  libs/angular-components/avatar/ng-package.json
  libs/angular-components/avatar/package.json
  libs/angular-components/avatar/src/avatar-list.component.html
  libs/angular-components/avatar/src/avatar-list.component.spec.ts
  libs/angular-components/avatar/src/avatar-list.component.ts
  libs/angular-components/avatar/src/avatar.component.html
  libs/angular-components/avatar/src/avatar.component.scss
  libs/angular-components/avatar/src/avatar.component.spec.ts
  libs/angular-components/avatar/src/avatar.component.ts
  libs/angular-components/avatar/src/avatar.module.spec.ts
  libs/angular-components/avatar/src/avatar.module.ts
  libs/angular-components/avatar/src/initials.pipe.spec.ts
  libs/angular-components/avatar/src/initials.pipe.ts
  libs/angular-components/avatar/test-setup.ts
  libs/angular-components/avatar/tsconfig.json
  libs/angular-components/avatar/tsconfig.lib.json
  libs/angular-components/avatar/tsconfig.spec.json
  libs/angular-components/avatar/tslint.json
  libs/angular-components/chart/src/_chart.theme.scss
  libs/angular-components/chart/src/chart.component.scss
  nx.json
  package-lock.json
  package.json
  themes/angular-theme/.stylelintrc.json
  themes/angular-theme/lib/avatar/_avatar-base.scss
  themes/angular-theme/lib/avatar/_avatar-theme.scss
  tsconfig.json
Labels: component, demo, e2e-tests-required, enhancement, theme
