Repository Finastra/finastra-design-system, pull requests merged in 2020-10, with the labels that each got.

#273 feat(global-search): improvements++
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay-config.ts
  libs/angular-components/global-search/src/components/global-search-overlay/global-search-overlay.component.ts
  libs/angular-components/global-search/src/global-search.component.ts
  libs/angular-components/global-search/src/services/global-search-overlay.service.ts
Labels: component, enhancement

#276 feat(link): hyperlink support in the theme
  apps/angular-test-app/src/app/components/ui-elements-demo/ui-elements-demo.component.html
  cypress/integration/ui-elements.spec.js
  cypress/snapshots/ui-elements.spec.js/UI Elements -- match link.snap.png
  themes/angular-theme/lib/link/_link-theme.scss
Labels: theme

#278 feat(video-thumbnail): Add basis for thumbnail component
  angular.json
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/video-thumbnail/video-thumbnail.component.html
  apps/angular-test-app/src/app/components/video-thumbnail/video-thumbnail.component.scss
  apps/angular-test-app/src/app/components/video-thumbnail/video-thumbnail.component.spec.ts
  apps/angular-test-app/src/app/components/video-thumbnail/video-thumbnail.component.ts
  apps/angular-test-app/src/app/nested-routes.ts
  apps/angular-test-app/src/assets/video-1.png
  apps/angular-test-app/src/styles.scss
  libs/angular-components/index.ts
  libs/angular-components/video-thumbnail/index.ts
  libs/angular-components/video-thumbnail/jest.config.js
  libs/angular-components/video-thumbnail/ng-package.json
  libs/angular-components/video-thumbnail/package.json
  libs/angular-components/video-thumbnail/src/_video-thumbnail.theme.scss
  libs/angular-components/video-thumbnail/src/video-thumbnail.component.html
  libs/angular-components/video-thumbnail/src/video-thumbnail.component.scss
  libs/angular-components/video-thumbnail/src/video-thumbnail.component.spec.ts
  libs/angular-components/video-thumbnail/src/video-thumbnail.component.ts
  libs/angular-components/video-thumbnail/src/video-thumbnail.interface.ts
  libs/angular-components/video-thumbnail/src/video-thumbnail.module.spec.ts
  libs/angular-components/video-thumbnail/src/video-thumbnail.module.ts
  libs/angular-components/video-thumbnail/test-setup.ts
  libs/angular-components/video-thumbnail/tsconfig.json
  libs/angular-components/video-thumbnail/tsconfig.lib.json
  libs/angular-components/video-thumbnail/tsconfig.spec.json
  libs/angular-components/video-thumbnail/tslint.json
  nx.json
  package.json
  tsconfig.base.json
Labels: component

#282 feat(toggle-button): improve accessibility
  cypress/snapshots/ui-elements.spec.js/UI Elements -- match toggle dense.snap.png
  cypress/snapshots/ui-elements.spec.js/UI Elements -- match toggle filter.snap.png
  cypress/snapshots/ui-elements.spec.js/UI Elements -- match toggle group.snap.png
  themes/angular-theme/lib/button-toggle/_button-toggle-base.scss
  themes/angular-theme/lib/button-toggle/_button-toggle-theme.scss
Labels: enhancement, theme

#281 feat(theme): CSS variables support
  .github/workflows/cypress.yml
  apps/angular-test-app/src/app/app.module.ts
  apps/angular-test-app/src/app/components/theme-builder/theme-builder-demo.component.html
  apps/angular-test-app/src/app/components/theme-builder/theme-builder-demo.component.scss
  apps/angular-test-app/src/app/components/theme-builder/theme-builder-demo.component.ts
  apps/angular-test-app/src/app/nested-routes.ts
  cypress/snapshots/ui-elements.spec.js/UI Elements -- match card product dense.snap.png
  libs/angular-components/wizard/src/_wizard.theme.scss
  package-lock.json
  package.json
  themes/angular-theme/_theme-variables.scss
  themes/angular-theme/lib/card/_card-theme.scss
  themes/angular-theme/lib/core/theming/_palette.scss
Labels: enhancement, theme

#284 fix(theme): fix paginator button styles
  themes/angular-theme/lib/paginator/_paginator-base.scss
Labels: bug, theme
