Repository Finastra/finastra-design-system, pull requests merged in 2022-12, with the labels that each got.

#985 fix(fds-tab): fix tab label capitalization
  libs/web-components/tabs/src/tab/tab.scss
Labels: web-component

#988 fix(markdown-sanitizer): templates not displayed in storybook
  libs/web-components/menu/src/styles.scss
  scripts/markdown-sanitizers.js
Labels: web-component

#987 feat(wc:breadcrumb): :sparkles: Breadcrumb v2
  .vscode/settings.json
  libs/web-components/breadcrumb/README.md
  libs/web-components/breadcrumb/src/breadcrumb.ts
  libs/web-components/breadcrumb/src/styles.scss
  libs/web-components/breadcrumb/stories/breadcrumb.stories.ts
  libs/web-components/breadcrumb/test/breadcrumb.test.ts
Labels: web-component

#998 fix(fds-button): disabled button triggering click events
  libs/web-components/button/src/base-styles.scss
Labels: bug, web-component

#1003 fix pagination when Pagination is external
  libs/angular-components/table/src/table.component.ts
Labels: component

#1000 fix(fds-autocomplete): menu not displaying
  libs/web-components/autocomplete/src/autocomplete.ts
  libs/web-components/autocomplete/src/styles.scss
Labels: bug, web-component

#1002 fix(fds-radial-bar ): support multiple sizes
  libs/web-components/charts/src/radial-bar-chart-styles.scss
  libs/web-components/charts/src/radial-bar-chart.ts
  libs/web-components/charts/stories/radial-bar-charts.stories.ts
Labels: web-component

#994 fix(wc:launchpad) improve test to avoid random error
  libs/web-components/launchpad/README.md
  libs/web-components/launchpad/src/launchpad.ts
  libs/web-components/launchpad/src/styles.scss
  libs/web-components/launchpad/stories/launchpad.stories.ts
  libs/web-components/launchpad/test/launchpad.test.ts
Labels: web-component

#1013 fix(wc:user-profile): :lipstick: Fix actions padding
  libs/web-components/user-profile/src/styles.scss
  libs/web-components/user-profile/stories/user-profile.stories.ts
Labels: web-component

#1014 ci(storybook): :wrench: Remove indeterminate stories from chromatic snapshots
  .vscode/settings.json
  libs/web-components/button-toggle-group/stories/button-toggle-group.stories.ts
  libs/web-components/charts/stories/donut-charts.stories.ts
  libs/web-components/charts/stories/pie-charts.stories.ts
  libs/web-components/charts/stories/radial-bar-charts.stories.ts
  libs/web-components/circular-progress/stories/circular-progress.stories.ts
  libs/web-components/linear-progress/stories/linear-progress.stories.ts
  libs/web-components/search-input/stories/search-input.stories.ts
Labels: web-component

#1017 feat(data-table): data table new feature
  libs/web-components/data-table/README.md
  libs/web-components/data-table/demo/index.html
  libs/web-components/data-table/src/data-table-base.ts
  libs/web-components/data-table/src/data-table-with-pagination.ts
  libs/web-components/data-table/src/data-table.ts
  libs/web-components/data-table/src/model.ts
  libs/web-components/data-table/src/utils.ts
  libs/web-components/data-table/stories/data-table-with-pagination.stories.ts
  libs/web-components/data-table/stories/data.ts
Labels: web-component
