Repository Finastra/finastra-design-system, pull requests merged in 2022-01, with the labels that each got.

#509 fix(fds-typo): fds<->mdc mapping
  themes/fds-theme/typography/_mixins.scss
  themes/fds-theme/typography/_variables.scss
Labels: web-component

#517 ✨ Enhance web component documentation
  .github/workflows/codecov.yml
  .gitpod.yml
  README.md
  libs/web-components/README.md
  libs/web-components/button/README.md
  libs/web-components/card/README.md
  libs/web-components/divider/README.md
  libs/web-components/logo/README.md
  libs/web-components/search-input/README.md
Labels: documentation, web-component

#518 fix(wc generator): migration to angular 13 deprecated JSONparser, use…
  package-lock.json
  package.json
  tools/utils/update-json-file.ts
Labels: web-component

#519 bugfix(wc-demo): change wc path
  libs/web-components/button/demo/index.html
  libs/web-components/button/package.json
  libs/web-components/card/demo/index.html
  libs/web-components/card/package.json
  libs/web-components/divider/demo/index.html
  libs/web-components/divider/package.json
  libs/web-components/logo/demo/index.html
  libs/web-components/logo/package.json
  libs/web-components/search-input/demo/index.html
  libs/web-components/search-input/package.json
  tools/generators/web-component/files/demo/index.html.template
Labels: web-component

#523 Fix(wc-generator): package json paths
  tools/generators/web-component/files/package.json
Labels: web-component

#522 fix(fds-theme): add font weight 700 to Roboto path
  .storybook/preview-head.html
  themes/fds-theme/typography/README.mdx
  tools/dev-server/view/layout.html
Labels: web-component

#541 fix(fds-typo): simplify typo-fallback function
  themes/fds-theme/typography/_mixins.scss
Labels: web-component

#540 Feature(fds-avatar): implement avatar wc
  angular.json
  libs/web-components/avatar/.eslintrc.json
  libs/web-components/avatar/.npmignore
  libs/web-components/avatar/README.md
  libs/web-components/avatar/demo/index.html
  libs/web-components/avatar/package.json
  libs/web-components/avatar/src/avatar.ts
  libs/web-components/avatar/src/styles.scss
  libs/web-components/avatar/stories/avatar.stories.mdx
  libs/web-components/avatar/test/avatar.test.ts
  libs/web-components/avatar/tsconfig.json
  libs/web-components/tsconfig.json
  package-lock.json
Labels: web-component

#549 add tmp env for storybook
  .github/workflows/wc-pr-build.yml
  libs/web-components/avatar/stories/avatar.stories.mdx
Labels: web-component

#547 fix(fds-button): add fullwidth property
  .vscode/settings.json
  libs/web-components/avatar/src/styles.scss
  libs/web-components/button/demo/index.html
  libs/web-components/button/src/button.ts
  libs/web-components/button/src/styles.scss
  libs/web-components/button/stories/button.stories.mdx
Labels: web-component

#561 exit if label is found
  .github/workflows/pr-build.yml
  libs/angular-components/avatar/package.json
  package.json
Labels: web-component

#553 docs(wc): fixes #552
  .gitignore
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/server.mjs
  .storybook/styles.scss
  .storybook/theme-base.js
  .storybook/theme-dark.js
  .storybook/theme-light.js
  .storybook/theme.js
  .storybook/typings.d.ts
  libs/web-components/README.md
  libs/web-components/app-card/stories/app-card.stories.mdx
  libs/web-components/avatar/stories/avatar.stories.mdx
  libs/web-components/base-card/stories/base-card.stories.mdx
  libs/web-components/button/stories/button.stories.mdx
  libs/web-components/card/stories/card.stories.mdx
  libs/web-components/divider/stories/divider.stories.mdx
  libs/web-components/logo/README.md
  libs/web-components/logo/stories/logo.stories.js
  libs/web-components/logo/stories/logo.stories.mdx
  libs/web-components/search-input/stories/search-input.stories.mdx
  libs/web-components/sidenav/stories/sidenav.stories.mdx
  package-lock.json
  package.json
  themes/fds-theme/color/README.stories.mdx
  themes/fds-theme/elevation/README.stories.mdx
  themes/fds-theme/spacing/README.stories.mdx
  themes/fds-theme/typography/README.stories.mdx
  tools/generators/web-component/files/stories/__fileName__.stories.mdx
  web-dev-server.config.mjs
Labels: web-component

#565 fix(fds-avatar): generate warnings instead of errors
  libs/web-components/avatar/src/avatar.ts
  libs/web-components/avatar/src/styles.scss
Labels: web-component

#568 feature(generator): generate stories in ts
  tools/generators/web-component/files/README.md
  tools/generators/web-component/files/src/__fileName__.ts.template
  tools/generators/web-component/files/stories/__fileName__.stories.mdx
  tools/generators/web-component/files/stories/__fileName__.stories.ts.template
Labels: web-component

#571 fix(fds-gradient): gradient based on css vars
  themes/fds-theme/color/_dark.scss
  themes/fds-theme/color/_light.scss
Labels: web-component

#578 fix: use range of engine version
  package.json
Labels: bug
