Repository Finastra/finastra-design-system, pull requests merged in 2022-04, with the labels that each got.

#679 feat(table): aria-labels on table
  libs/angular-components/table/src/table.component.html
  libs/angular-components/table/src/table.component.ts
Labels: enhancement

#672 feature(wc): fds tab
  angular.json
  libs/web-components/README.md
  libs/web-components/tab-bar/.eslintrc.json
  libs/web-components/tab-bar/.npmignore
  libs/web-components/tab-bar/README.md
  libs/web-components/tab-bar/demo/index.html
  libs/web-components/tab-bar/package.json
  libs/web-components/tab-bar/src/styles.scss
  libs/web-components/tab-bar/src/tab-bar.ts
  libs/web-components/tab-bar/stories/tab-bar.stories.ts
  libs/web-components/tab-bar/test/tab-bar.test.ts
  libs/web-components/tab-bar/tsconfig.json
  libs/web-components/tab/.eslintrc.json
  libs/web-components/tab/.npmignore
  libs/web-components/tab/README.md
  libs/web-components/tab/demo/index.html
  libs/web-components/tab/package.json
  libs/web-components/tab/src/styles.scss
  libs/web-components/tab/src/tab.ts
  libs/web-components/tab/stories/tab.stories.ts
  libs/web-components/tab/test/tab.test.ts
  libs/web-components/tab/tsconfig.json
  libs/web-components/textfield/README.md
  libs/web-components/tsconfig.json
  package-lock.json
  tools/generators/web-component/files/README.md
Labels: web-component

#681 fix(wc): use fds colors for disabled state
  libs/web-components/autocomplete/src/styles.scss
  libs/web-components/textarea/src/styles.scss
  libs/web-components/textfield/src/styles.scss
Labels: web-component

#680 feat(filter): Multiselect filter tags
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.ts
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  apps/angular-test-app/src/app/components/ui-elements-demo/ui-elements-demo.component.ts
  libs/angular-components/filter/filter-tags/src/_filter-tags.theme.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.html
  libs/angular-components/filter/filter-tags/src/filter-tags.component.scss
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
  libs/angular-components/filter/filter-tags/src/filter-tags.module.ts
Labels: enhancement, component

#693 fix(wc-generator): remove 'fds' from the generated file name
  tools/generators/web-component/index.ts
Labels: web-component

#688 feat(wc): fds button toggle
  angular.json
  libs/web-components/README.md
  libs/web-components/button-toggle-group/.eslintrc.json
  libs/web-components/button-toggle-group/.npmignore
  libs/web-components/button-toggle-group/README.md
  libs/web-components/button-toggle-group/demo/index.html
  libs/web-components/button-toggle-group/package.json
  libs/web-components/button-toggle-group/src/button-toggle-group.ts
  libs/web-components/button-toggle-group/src/styles.scss
  libs/web-components/button-toggle-group/stories/button-toggle-group.stories.ts
  libs/web-components/button-toggle-group/test/button-toggle-group.test.ts
  libs/web-components/button-toggle-group/tsconfig.json
  libs/web-components/button-toggle/.eslintrc.json
  libs/web-components/button-toggle/.npmignore
  libs/web-components/button-toggle/README.md
  libs/web-components/button-toggle/demo/index.html
  libs/web-components/button-toggle/package.json
  libs/web-components/button-toggle/src/button-toggle-filter.ts
  libs/web-components/button-toggle/src/button-toggle.ts
  libs/web-components/button-toggle/src/filter-styles.scss
  libs/web-components/button-toggle/src/index.ts
  libs/web-components/button-toggle/src/styles.scss
  libs/web-components/button-toggle/stories/button-toggle.stories.ts
  libs/web-components/button-toggle/test/button-toggle.test.ts
  libs/web-components/button-toggle/tsconfig.json
  libs/web-components/tab-bar/demo/index.html
  libs/web-components/tab-bar/src/styles.scss
  libs/web-components/tab/src/styles.scss
  libs/web-components/tsconfig.json
  package-lock.json
Labels: web-component
