Repository Finastra/finastra-design-system, pull requests merged in 2022-11, with the labels that each got.

#919 fix(fds-radial-bar-chart): expose css vars for label and value font size
  libs/web-components/charts/package.json
  libs/web-components/charts/src/radial-bar-chart-styles.scss
  libs/web-components/charts/src/radial-bar-chart.ts
  libs/web-components/charts/stories/radial-bar-charts.stories.ts
  package-lock.json
  package.json
Labels: web-component

#924 Add support for changing appearance for angular components
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.component.html
  apps/angular-test-app/src/app/components/search-input-demo/search-input-demo.component.html
  libs/angular-components/filter/filter-tags/src/filter-tags.component.html
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
  libs/angular-components/search-input/src/search-input.component.html
  libs/angular-components/search-input/src/search-input.component.scss
  libs/angular-components/search-input/src/search-input.component.ts
Labels: enhancement, component

#922 Fix(fds-wizard): fix scrollbar
  libs/web-components/wizard/src/styles.scss
  libs/web-components/wizard/src/wizard.ts
  libs/web-components/wizard/stories/wizard.stories.ts
Labels: web-component

#921 fix(fds-data-table): fix fds-data-table-with-pagination style
  libs/web-components/data-table/README.md
  libs/web-components/data-table/demo/index.html
  libs/web-components/data-table/package.json
  libs/web-components/data-table/src/data-table-with-pagination-styles.scss
  libs/web-components/data-table/src/data-table-with-pagination.ts
  package-lock.json
Labels: web-component

#938 Feature/inject wca doc in readme
  .github/workflows/release-wc.yml
  libs/web-components/app-bar/README.md
  package.json
  scripts/inject-wca-doc-readme.js
Labels: web-component

#945 feat(uxg-filter-tags): Add "value" parameter
  apps/angular-test-app/src/app/components/filter-panel-demo/filter-panel-demo.sample-data.ts
  libs/angular-components/filter/filter-tags/src/filter-tags.component.ts
Labels: component

#939 docs(wc:*): Add props, css custom props and events documentation
  libs/web-components/README.md
  libs/web-components/account-card/README.md
  libs/web-components/alert-message/README.md
  libs/web-components/app-bar/README.md
  libs/web-components/app-bar/src/app-bar.ts
  libs/web-components/app-card/README.md
  libs/web-components/autocomplete/README.md
  libs/web-components/avatar/README.md
  libs/web-components/badge/README.md
  libs/web-components/brand-card/README.md
  libs/web-components/breadcrumb/README.md
  libs/web-components/button-toggle-group/README.md
  libs/web-components/button/README.md
  libs/web-components/card/README.md
  libs/web-components/charts/README.md
  libs/web-components/checkbox/README.md
  libs/web-components/chip/README.md
  libs/web-components/chip/src/chip.ts
  libs/web-components/circular-progress/README.md
  libs/web-components/data-table/README.md
  libs/web-components/dialog/README.md
  libs/web-components/divider/README.md
  libs/web-components/expansion-panel/README.md
  libs/web-components/fab/README.md
  libs/web-components/filter-tree/README.md
  libs/web-components/global-search/README.md
  libs/web-components/guided-tour/README.md
  libs/web-components/icon-bar/README.md
  libs/web-components/icon-button/README.md
  libs/web-components/icon/README.md
  libs/web-components/launchpad/README.md
  libs/web-components/linear-progress/README.md
  libs/web-components/list/README.md
  libs/web-components/logo/README.md
  libs/web-components/menu-trigger/README.md
  libs/web-components/menu/README.md
  libs/web-components/radio/README.md
  libs/web-components/search-input/README.md
  libs/web-components/select/README.md
  libs/web-components/sidenav/README.md
  libs/web-components/skeleton/README.md
  libs/web-components/slider/README.md
  libs/web-components/stepper/README.md
  libs/web-components/switch/README.md
  libs/web-components/tabs/README.md
  libs/web-components/textarea/README.md
  libs/web-components/textfield/README.md
  libs/web-components/user-profile/README.md
  libs/web-components/wizard/README.md
  scripts/inject-wca-doc-readme.js
  tools/generators/web-component/files/README.md
Labels: web-component

#944 fix(fds-data-table): fix header when scroll and fix table column width.
  libs/web-components/data-table/demo/index.html
  libs/web-components/data-table/src/data-table-base.ts
  libs/web-components/data-table/src/data-table-styles.scss
  libs/web-components/data-table/src/data-table-with-pagination.ts
  libs/web-components/data-table/src/data-table.ts
  libs/web-components/data-table/stories/data.ts
Labels: web-component

#962 chore(release): 3.8.2
  libs/angular-components/CHANGELOG.md
  libs/angular-components/package.json
  package-lock.json
  package.json
  themes/angular-theme/CHANGELOG.md
  themes/angular-theme/package.json
Labels: Release PR

#963 fix sort injection
  libs/angular-components/table/src/table.component.ts
Labels: bug, component

#964 chore(release): 3.9.0
  libs/angular-components/CHANGELOG.md
  libs/angular-components/package.json
  package-lock.json
  package.json
  themes/angular-theme/CHANGELOG.md
  themes/angular-theme/package.json
Labels: Release PR
