Repository Finastra/finastra-design-system, pull requests merged in 2022-05, with the labels that each got.

#705 fix(fds-button): use fds text color
  libs/web-components/button/package.json
  libs/web-components/button/src/styles.scss
  package-lock.json
Labels: web-component

#710 fix(fds-launchpad): remove useless import
  libs/web-components/launchpad/package.json
  libs/web-components/launchpad/src/launchpad.ts
  package-lock.json
Labels: bug, web-component

#702 refacto app-card & fix style
  libs/web-components/app-card/README.md
  libs/web-components/app-card/demo/index.html
  libs/web-components/app-card/package.json
  libs/web-components/app-card/src/app-card.ts
  libs/web-components/app-card/src/styles.scss
  libs/web-components/app-card/stories/app-card.stories.ts
  libs/web-components/app-card/test/app-card.test.ts
  package-lock.json
Labels: web-component

#708 docs(wc): Detail usage of wc
  .vscode/settings.json
  libs/web-components/app-bar/README.md
  libs/web-components/app-card/README.md
  libs/web-components/autocomplete/README.md
  libs/web-components/avatar/README.md
  libs/web-components/brand-card/README.md
  libs/web-components/button-toggle-group/README.md
  libs/web-components/button-toggle/README.md
  libs/web-components/button/README.md
  libs/web-components/card/README.md
  libs/web-components/checkbox/README.md
  libs/web-components/chip/README.md
  libs/web-components/divider/README.md
  libs/web-components/launchpad/README.md
  libs/web-components/logo/README.md
  libs/web-components/menu-trigger/README.md
  libs/web-components/radio/README.md
  libs/web-components/search-input/README.md
  libs/web-components/select/README.md
  libs/web-components/sidenav/README.md
  libs/web-components/slider/README.md
  libs/web-components/stepper/README.md
  libs/web-components/switch/README.md
  libs/web-components/tab-bar/README.md
  libs/web-components/tab/README.md
  libs/web-components/textarea/README.md
  libs/web-components/textfield/README.md
  libs/web-components/user-profile/README.md
  tools/generators/web-component/files/README.md
Labels: web-component

#718 docs(wc): Enhance wc documentation for React integration
  libs/web-components/README.md
Labels: documentation, web-component

#717 feat(wc:tooltip): :sparkles: Detail usage of finastra's tippy.js theme
  .storybook/preview-head.html
  libs/web-components/tooltip/README.md
  libs/web-components/tooltip/stories/tooltip.stories.ts
  package-lock.json
  package.json
  themes/tippy.js/dist/theme.css
  themes/tippy.js/dist/theme.css.map
  themes/tippy.js/package-lock.json
  themes/tippy.js/package.json
  themes/tippy.js/theme.scss
Labels: web-component

#699 implements pie chart
  .vscode/settings.json
  angular.json
  libs/web-components/README.md
  libs/web-components/charts/.eslintrc.json
  libs/web-components/charts/.npmignore
  libs/web-components/charts/README.md
  libs/web-components/charts/demo/index.html
  libs/web-components/charts/package.json
  libs/web-components/charts/src/apexcharts-styles.scss
  libs/web-components/charts/src/apexcharts.ts
  libs/web-components/charts/src/index.ts
  libs/web-components/charts/src/pie-chart-styles.scss
  libs/web-components/charts/src/pie-chart.ts
  libs/web-components/charts/stories/pie-charts.stories.ts
  libs/web-components/charts/test/charts.test.ts
  libs/web-components/charts/tsconfig.json
  libs/web-components/tsconfig.json
  package-lock.json
  package.json
  themes/fds-theme/color/_dark.scss
  tools/dev-server/middlewares.mjs
  web-dev-server.config.mjs
  web-test-runner.config.mjs
Labels: web-component

#724 fix(logo): hide overflow and fix aspect ratio
  libs/web-components/app-card/src/styles.scss
Labels: web-component

#720 style(wc:tooltip): :art: Match Finastra's tooltip branding
  themes/tippy.js/dist/theme.css
  themes/tippy.js/dist/theme.css.map
  themes/tippy.js/theme.scss
Labels: web-component

#725 fix(logo): aspect ratio
  libs/web-components/app-card/src/styles.scss
Labels: web-component

#730 feat(fds-stepper): dispatch step click event
  libs/web-components/stepper/demo/index.html
  libs/web-components/stepper/src/base-stepper.ts
  libs/web-components/stepper/src/base-styles.scss
  libs/web-components/stepper/src/constants.ts
  libs/web-components/stepper/stories/horizontal-stepper.stories.ts
  libs/web-components/stepper/stories/vertical-stepper.stories.ts
Labels: web-component
